/*
https://colorhunt.co/palette/f0ff4282cd4754b435379237

yellow: #F0FF42
lightgreen: #82CD47
mediumgreen: #54B435
darkgreen: #379237
*/

:root {
    --yellow: #F0FF42;
    --ltgreen: #82CD47;
    --mediumgreen: #54B435;
    --darkgreen: #379237;
    background-color: var(--darkgreen);
}

header {
    background-color: var(--yellow);
    text-align: center;
}

#searchNews__container {
    float: right;
}

.material-symbols-outlined {
}

#navbar__container {
    text-align: right;
    background-color: var(--ltgreen);
}

.navbar_item {
}

#news_main__container {
    background-color: var(--mediumgreen);
}

#candidates__section {
    background-color: var(--ltgreen);
    text-align: center;
}

.news__section {
    text-align: center;
    overflow: hidden;
}

#news__title {
    text-align: center;
    font-size: 35px;
}

.news__item {
    display: inline-block;
}

#news__title:hover {

}

footer {
    background-color: var(--darkgreen);
    text-align: center;
    padding: 5%;
}